/* Coolors Exported Palette - https://coolors.co/2d2d2d-111315-e5e5e6-cfdddb-e4cded-c2dbe9-c9caef-fac1d9-262a2b-e04949 */

/* SCSS HEX */
$jet: #2D2D2Dff;
$night: #111315ff;
$platinum: #E5E5E6ff;
$platinum-2: #CFDDDBff;
$thistle: #E4CDEDff;
$columbia-blue: #C2DBE9ff;
$periwinkle: #C9CAEFff;
$orchid-pink: #FAC1D9ff;
$jet-2: #262A2Bff;
$imperial-red: #E04949ff;

/* SCSS HSL */
$jet: hsla(0, 0%, 18%, 1);
$night: hsla(210, 11%, 7%, 1);
$platinum: hsla(240, 2%, 90%, 1);
$platinum-2: hsla(171, 17%, 84%, 1);
$thistle: hsla(283, 47%, 87%, 1);
$columbia-blue: hsla(202, 47%, 84%, 1);
$periwinkle: hsla(238, 54%, 86%, 1);
$orchid-pink: hsla(335, 85%, 87%, 1);
$jet-2: hsla(192, 6%, 16%, 1);
$imperial-red: hsla(0, 71%, 58%, 1);

/* SCSS RGB */
$jet: rgba(45, 45, 45, 1);
$night: rgba(17, 19, 21, 1);
$platinum: rgba(229, 229, 230, 1);
$platinum-2: rgba(207, 221, 219, 1);
$thistle: rgba(228, 205, 237, 1);
$columbia-blue: rgba(194, 219, 233, 1);
$periwinkle: rgba(201, 202, 239, 1);
$orchid-pink: rgba(250, 193, 217, 1);
$jet-2: rgba(38, 42, 43, 1);
$imperial-red: rgba(224, 73, 73, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2D2D2Dff, #111315ff, #E5E5E6ff, #CFDDDBff, #E4CDEDff, #C2DBE9ff, #C9CAEFff, #FAC1D9ff, #262A2Bff, #E04949ff);
$gradient-right: linear-gradient(90deg, #2D2D2Dff, #111315ff, #E5E5E6ff, #CFDDDBff, #E4CDEDff, #C2DBE9ff, #C9CAEFff, #FAC1D9ff, #262A2Bff, #E04949ff);
$gradient-bottom: linear-gradient(180deg, #2D2D2Dff, #111315ff, #E5E5E6ff, #CFDDDBff, #E4CDEDff, #C2DBE9ff, #C9CAEFff, #FAC1D9ff, #262A2Bff, #E04949ff);
$gradient-left: linear-gradient(270deg, #2D2D2Dff, #111315ff, #E5E5E6ff, #CFDDDBff, #E4CDEDff, #C2DBE9ff, #C9CAEFff, #FAC1D9ff, #262A2Bff, #E04949ff);
$gradient-top-right: linear-gradient(45deg, #2D2D2Dff, #111315ff, #E5E5E6ff, #CFDDDBff, #E4CDEDff, #C2DBE9ff, #C9CAEFff, #FAC1D9ff, #262A2Bff, #E04949ff);
$gradient-bottom-right: linear-gradient(135deg, #2D2D2Dff, #111315ff, #E5E5E6ff, #CFDDDBff, #E4CDEDff, #C2DBE9ff, #C9CAEFff, #FAC1D9ff, #262A2Bff, #E04949ff);
$gradient-top-left: linear-gradient(225deg, #2D2D2Dff, #111315ff, #E5E5E6ff, #CFDDDBff, #E4CDEDff, #C2DBE9ff, #C9CAEFff, #FAC1D9ff, #262A2Bff, #E04949ff);
$gradient-bottom-left: linear-gradient(315deg, #2D2D2Dff, #111315ff, #E5E5E6ff, #CFDDDBff, #E4CDEDff, #C2DBE9ff, #C9CAEFff, #FAC1D9ff, #262A2Bff, #E04949ff);
$gradient-radial: radial-gradient(#2D2D2Dff, #111315ff, #E5E5E6ff, #CFDDDBff, #E4CDEDff, #C2DBE9ff, #C9CAEFff, #FAC1D9ff, #262A2Bff, #E04949ff);