* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nodisplay{
    display: none;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #20202a;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.centerText {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 60%;
}

[data-categoryname="Pizza"] {
    background-color: #CFDDDBff;
    background-image: url("./img/image-removebg-preview1.png");
    background-size: cover; /* Makes the image cover the div */
    background-position: 108px;
    background-repeat: no-repeat;
    background-size: 145px;
}

[data-categoryname="Deals"] {
    background-color: #E4CDEDff;
}

[data-categoryname="Burger"] {
    background-color: #C2DBE9ff;
    background-image: url("./img/image-removebg-preview.png");
    background-size: cover; /* Makes the image cover the div */
    background-position: 108px;
    background-repeat: no-repeat;
    background-size: 145px;
}

[data-categoryname="Pasta"] {
    background-color: #C9CAEFff;
    background-image: url("./img/image-removebg-preview (1).png");
    background-size: cover; /* Makes the image cover the div */
    background-position: 108px;
    background-repeat: no-repeat;
    background-size: 145px;
}

[data-categoryname="Extras"] {
    background-color: #FAC1D9ff;
}

[data-categoryname="Drinks"] {
    background-color: #e5dade;
}

[data-categoryname="Sandwitches"] {
    background-color: #e5dade;
}

[data-categoryname="Appetizer"] {
    background-color: #C9CAEFff;
}

.category {
    background-color: #e5dade;
}

#color-7 {
    background-color: #2D2D2Dff;
}

html , body{
width: 100%;
background-color: #111315;
color: #E5E5E6ff;

}

.main-container{
    font-family: "Inter", sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height:100%;
    font-family: "Inter", sans-serif;
}

#search-item {
    position: relative;
    display: flex;
    align-items: center;
}
#search-item i {
    position: absolute; 
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 18px; 
    color: #666;
}
#searchbox::placeholder {
    padding-left: 12px;
}
#itemsearchbox{
color: white;
border: none;
background-color: #303134;
border-radius: 5px;
padding: 5px 0 5px 30px;
height: 34px;
width: 85%;
outline: none;
}

.most-ordered-btn {
    background: transparent;
    color: #ffa54d; /* Soft orange outline */
    font-size: 14px;
    font-weight: bold;
    padding: 7px 12px;
    margin-left: 5px;
    width: 15%;
    border: 2px solid #ffa54d; /* Outline effect */
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between icon and text */
    transition: all 0.3s ease;
}

.most-ordered-btn:hover {
    background: #ffa54d;
    color: white;
}

.most-ordered-clicked {
    background: #ffa54d;
    color: white;
}

.most-ordered-btn:active {
    background: #ff8c1a; /* Slightly darker orange on click */
    border-color: #ff8c1a;
}

/* Optional: Icon Styling */
.most-ordered-btn i {
    font-size: 18px;
}


.cat-items-container{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-right: 30px;
}

.categorycontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14vw, 1fr)); /* Adjusted to consume all available space */
    grid-auto-rows: 12vh; /* Sets a consistent row height */
    gap: 5px; /* Reduced spacing between items */
    overflow: auto; /* Remove scrolling if not needed */
    min-height: 27%; /* Minimum height */
    padding: 5px 0px;
}


.category{
    color: #202124;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 16px;
    justify-content: space-between;
    cursor: pointer;
    opacity: 1;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.category-name{
    font-size: 1.6vmax;
}
.items-count{
    font-size: 1vmax;
    color: #7e7e7e;
}

.line{
    border-top: 2px dashed #cbcbcb
}
.itemcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14vw, 1fr));
    grid-auto-rows: 12vh; /* Sets a consistent row height */
    gap: 5px; /* Spacing between grid items */
    height: 100%;
    overflow-y: auto; /* Scrolls only vertically */


}


.items{
    color: #f1f1f1;
    /* background-color: #fac1da; */
    background-color: #37373c;
    display: flex;
    height: 11vh;
    width: auto;
    flex-direction: column;
    border-radius: 11px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.8s cubic-bezier(0.8, 0, 0.7, 1), background-color 0.3s ease;
    animation: fadeDown 0.5s ease-in-out;


}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.items:hover {
    background-color: #616161;
}
.items::before {
    content: "";
    position: absolute;
    height: 11vh;
    border-radius: 11px 0px 0px 11px;
    width: 0.5vw; /* Initial stripe width */
    background-color: #fac1da; /* Additional color */
    transition: width 0.8s cubic-bezier(0.8, 0, 0.5, 1); /* Smooth width expansion */
    z-index: 0; /* Place it behind the content */
}

.items.clicked::before {
    width: 14.4vw; /* Expand the stripe to cover the entire div */
    border-radius: 11px 11px 11px 11px;

}

.items * {
    position: relative;
    z-index: 0; /*Ensure text and other elements stay on top*/
}

.items-name{
    line-break: anywhere;
    line-height: 1;
    font-size: 1.3vmax;
    padding: 10px 10px 10px 17px;

}
.items-price{
    font-size: 0.9vmax;
        padding: 0px 10px 10px 17px;
        overflow: hidden;

}

#qtycontainer{
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    height: 61%;
    justify-content: center;
    padding-left: 79px;
    padding-bottom: 10px;
    width: 100%;
}
#plusbutton, #minusbutton{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: #3b3b3b solid 3px;
    border-radius: 8px;
}
.items-qty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.TopSold {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: -5px;
    opacity: 0.7;
}

.TopSold i {
    font-size: 26px;
    color: #7dff9a;
}

.items-sold {
    font-size: 40px;
}
/*Pending Orders Container*/

#pendingOrdersContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5px solid #ffffff4f;
    padding: 10px 0px;
}

.pendingOrders{
    display: flex;
    align-items: center;
    height: 36px;
    width: 214px;
    border-right: 0.9px solid #ffffff4f;
}

.tableName{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bae9ff;
    color: black;
    padding: 8px;
    border-radius: 6px;
    height: 32px;
    width: 32px;
}

.tableName h2{
    font-size: 1.1em;
    text-align: center;
}

.waiterName h3{
    font-size: 0.8em;
    overflow-x: hidden;
}
.leftSideInfoContainer{
    padding: 10px;
    width: 100%;
}

.waiterNamAndStatus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.itemCount{
    font-size: 0.6em;
}

.status{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(144, 238, 144, 0.945);
    color: black;
    padding: 3px;
    border-radius: 7px;

}
.status h4{
    font-size: 0.7em;
}
.rightSidePanel{
    display: flex;
    width: 25%;
    height: 100vh;
    padding-top: 5px;
    /* justify-content: space-around; */
    justify-content: space-between;
    flex-direction: column;
}


.rightSidePanelBottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    height: auto;
    background-color: #303134;
    align-self: flex-end;
    margin-top: 10px;
    padding: 16px;
    border-radius: 10px 10px 0px 0px;
}

.cart-items-container {
    display: flex;
    overflow-y: auto;
    height: 100%;
    flex-direction: column;
    gap: 16px;
}

.cart-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303134;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
}

.cart-items-qty {
    background-color: #e8eaed;
    color: #202124;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.cart-price-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-items-name {
    font-weight: 300;
    font-size: 14px;
    padding-left: 10px;
}

.cart-items-price {
    font-size: 14px;
    font-weight: bold;
    padding-right: 16px;
}

.ri-delete-back-2-fill {
    color: #ff5252;
    cursor: pointer;
}

.bill-calc-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 8px;
}

#total {
    padding-top: 12px;
}

#tax-title {
    padding-top: 5px;
    padding-bottom: 5px;
}

.calc-lines {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
}

.calc-title {
    font-weight: 300;
    font-size: 1rem;
}

.calc-values {
    font-size: 1rem;
    font-weight: bold;
}

.calc-total {
    font-size: 1rem;
    font-weight: bold;
}

#total-payment-title {
    font-size: 14px;
    opacity: 0.5;
    padding: 10px 0;
}

.payment-methods-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.payment-methods-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmin;
    width: 80px;
    height: 50px;
    border: 2px solid #adadad;
    border-radius: 8px;
    background-color: #424242;
    color: #e8eaed;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.payment-methods-icons:hover {
    background-color: #616161;
    color: #fff;
}

.payment-methods-select{
    background-color: white;
    color: black;
}

.payment-methods-icons:hover{
    background-color: white;
    color: black;
}


.payment-methods-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-methods-btns h4 {
    font-weight: bold;
    font-size: 13px;
    padding-top: 5px;
}

.placeOrder-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #4caf50;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 12px;
    transition: background-color 0.3s ease;
}

.placeOrder-btn:hover {
    background-color: #388e3c;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup {
    background: #303134;
    padding: 20px;
    border-radius: 10px;
    width: 55%;
    border: 1px solid #424242;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.button {
    background: #4a90e2;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background: #357abd;
}

.pay-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    background-color: #4caf50;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    margin: 20px 0;
    padding: 12px;
    transition: background-color 0.3s ease;
}

.pay-btn:hover {
    background-color: #388e3c;
}

.ri-cash-fill, .ri-bank-card-fill, .ri-split-cells-vertical {
    font-size: 24px;
    cursor: pointer;
}

#paymentFurtherOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#receiveCashDiv {
    display: flex;
    align-items: center;
    width: 50%;
}

#returnCashDiv {
    display: flex;
    align-items: center;
    width: 50%;
}

#receiveCashDiv h4, #returnCashDiv h4 {
    padding: 0 8px;
    font-size: 1rem;
    width: 55%;
}

#receiveCash {
    background-color: #303134;
    width: 45%;
    height: 45px;
    color: #e8eaed;
    border: 2px solid #adadad;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease;
}

#returnCash {
    background-color: #ffffff;
    width: 50%;
    height: 45px;
    color: #303134;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#receiveCash:focus {
    outline: none;
    border-color: #4a90e2;
}

#receiveCash:hover {
    outline: none;
    border-color: #4a90e2;
}

/* Recipt Styling */
#receiptContainer {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #111315;
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    background-color: #ffffff;
    transform: translate(-50% , -50%);
    max-height: 100vh;
    overflow-y: auto;
}
#receiptbody{
    color: black;
    font-family: Arial, sans-serif;
}

/* Receipt Container */
#receiptbody .receipt {
    margin: 0;
    padding: 0;
    width: 80mm;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
}

/* Header Section */
#receiptbody .receipt .header {
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

#receiptbody .receipt .header img {
    max-height: 100px;
    margin-bottom: 10px;
}

#receiptbody .receipt .header .contact-details p {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

/* Bill Details Section */
#receiptbody .receipt .bill-details {
    margin-bottom: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#receiptbody .receipt .bill-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

/* Greeting and Instructions */
.greeting {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.instructions {
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
}

/* Cart item Header */
.item-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    padding-bottom: 8px;
    /* margin-bottom: 10px; */
}

.item-header span {
    flex: 1;
    text-align: center;
    font-size: 12px;
}

/* Cart Items */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px dashed #ddd;

}

.cart-item span {
    flex: 1;
    text-align: center;
    font-size: 12px;
}

.subTotalOnReceipt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    font-size: 14px;
    font-weight: bold;
    gap: 156.18px;
    border-top: 2px solid #fdd835;
    /* border-bottom: 0.5px solid #dadada; */
}

.taxOnReceipt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    font-size: 14px;
    font-weight: bold;
    gap: 156.18px;
    /* border-bottom: 0.5px solid #dadada; */
}

.totalOnReceipt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    font-size: 14px;
    font-weight: bold;
    gap: 136.18px;
    /* border-bottom: 0.5px solid #dadada; */
}


.total span{
    flex: 1;
    text-align: center;
    font-size: 12px;
}
.total span:first-child{
    flex: 1;
    text-align: left;
    font-size: 12px;
}

.cashOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    font-size: 14px;
    font-weight: bold;
    gap: 136.18px;
}

/* Barcode */
.barcode {
    margin-top: 20px;
    text-align: center;
}

.barcode img {
    max-width: 100%;
    height: 55px;
}
/* Print Button */
.print-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.print-button:hover {
    background-color: #f0f0f0;
}

.closeBtn {
    display: flex;
    justify-content:flex-end;
    padding: 6px 7px;
    cursor: pointer;
}

/* .options-container {
    position: relative;
    display: inline-block;
} */

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px 0;
    right: 321px;
    bottom: 83px;
}
.dropdown-menu a {
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}
.dropdown-menu a:hover {
    background-color: #575757;
}
.submenu {
    display: none;
    background-color: #444;
    margin-left: 10px;
}
.dropdown-menu a.dine-in:hover + .submenu,
.submenu:hover {
    display: block;
}