/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Body */
body {
    display: flex;
    min-height: 100vh;
    background-color: #121212; /* Dark background */
    color: #E5E5E6ff;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky; /* Fixed to make it stay on screen */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the loader's own dimensions */
    width: 120px;
    height: 90px;
    margin: 0 auto;
    z-index: 1000; /* Optional: ensures it's above other content */
    background-blend-mode: darken;
}

  .loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #FF3D00;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
  }
  .loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #fff, -35px 50px 0 #fff, -70px 95px 0 #fff;
    animation: loading-step 1s ease-in-out infinite;
  }

  

  @keyframes loading-bounce {
    0% { transform: scale(1, 0.7)}
    40% { transform: scale(0.8, 1.2)}
    60% { transform: scale(1, 1)}
    100% { bottom: 140px }
  }
  @keyframes loading-step {
    0% {
      box-shadow: 0 10px 0 rgba(0,0,0,0),
                  0 10px 0 #fff,
                -35px 50px 0 #fff,
                -70px 90px 0 #fff;
    }
    100% {
      box-shadow: 0 10px 0 #fff,
                -35px 50px 0 #fff,
                -70px 90px 0 #fff,
                -70px 90px 0 rgba(0,0,0,0);
    }
  }


/* Sidebar */
.nav-container {
    position: fixed;
    top: -50px; /*Hidden by default*/
    left: 50%;
    background-color: rgba(108, 99, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 20px; /* Rounded corners */
    transform: translate(-50%, 0); /* Center horizontally */
    transition: top 0.5s ease; /* Smooth slide-in effect */
  }
  
  .nav-bar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .nav-bar li {
    font-size: 0.9rem;
    padding: 0px 15px 0px 15px;
    list-style-type: none;
    cursor: pointer;
    font-weight: bold;
  }

  a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits text color from parent */
    outline: none; /* Removes focus outline */
}

  .nav-bar li :hover{
    color: white;
  }



/* Setup Container */
.setup-container {
    flex: 1;
    padding: 40px;
    background-color: #1e1e2d; /* Slightly lighter dark background */
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Heading */
.setup-title {
    font-size: 2rem;
    color: #f5f5f5;
    margin-bottom: 20px;
}

/* Toggle Section */
.toggle-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-label {
    margin-right: 10px;
    color: #dcdcdc;
    font-size: 1rem;
}

.switch input {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
}

.switch input:checked + .slider {
    background-color: #6c63ff; /* Purple on toggle */
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

.switch input:checked + .slider:before {
    transform: translateX(14px);
}

/* Button */
.update-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6c63ff; /* Matching color with 'Save Item' button */
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold; /* Reduced boldness */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.update-btn:hover {
    background-color: #574bff;
    transform: scale(1.05);
}

/* Receipt Form Styling */


.receipt-form-container {
    display: flex;
    border-radius: 10px;
    width: 100%;
}


span > h1 {
    font-size: 20px;
    color: #a29bfe;
}

.form-group {
    width: 100%;
    padding: 20px;
}

.form-group label {
    color: #dcdcdc;
    font-size: 1rem;
    font-weight: 600;
}

.form-group input,
.form-group select,textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 0.8em;
    width: 100%;
    height: 41px;
    background-color: #202020;
    color: #f1f1f1;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,textarea:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.6);
}




